{{> header}}
<img src="{{artwork}}" />

<div class="additional-info">
  <p>Artist: {{artist.name}}</p>
  <p>License: {{license.name}}</p>
</div>

<div class="home-btn-container">
  {{> home-link}}
</div>
