body {
  background-color: #A8DADC;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header {
  background-color: #F1FAEE;
  color: #E63946;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.artTitle {
  background-color: #1D3557;
  color: #F1FAEE;
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
}

.artTitle a {
  text-decoration: none;
  color: #F1FAEE;
}
